.content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.mapbcknl {
  position: absolute;
  z-index: -7;
  width: 1400px;
  transform: translateY(-100px);
}

.square {
  width: 14px;
  height: 12px;
  border: 1px solid black;
}

.squaregrid {
  display: grid;
  grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
  grid-template-rows: auto;
  /* grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer"; */
}
